.phantom {}

.centered {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}

.row {
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-transform {
  color: #fff;
  background-color: #394a66;
  border-color: #0d254d;
}
